<% if current_user.items.include? @item %>
  <div class="message-to-user">
    Here's what your item will look like to everyone else.
    <br><br>
    You can <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=<%= item_url(@item) %>&p[images][0]=<%= @item.image.content.url %>">share this on Facebook</a> or <a href="http://twitter.com/home?status=Check%20out%20<%= item_url(@item) %>">share this on Twitter</a>.
    
    <br><br>
    Alternatively, to share elsewhere, simply copy-paste this link: <%= item_url(@item) %>
  </div>
<% end %>

<div class="item-show-container">
  
  <%= image_tag(@item.image.content.url) %>

  <h2><%= @item.name %></h2>

  <div class="item-description">
    <%= @item.description %>
  </div>

  <div class="byline centered">
    <%= @item.nonprofit_percentage %>% of each purchase goes to benefit <%= @item.nonprofit_url %>.
  </div>
</div>
<br><br><br><br>