<!DOCTYPE html>
<html>
<head>
  <title>GivespendV3</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <%= image_tag "givespend-banner.png", class: "givespend-banner" %>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
  <footer>
    <a>ABOUT</a> | <a>CONTACT</a>
  </footer>
  <%= javascript_include_tag "application" %>
</body>
</html>
